{% extends '@layout/default.html.twig' %}

{% block title %}Excluir Campanha - {{ parent() }}{% endblock %}

{% block page_header %}Excluir Campanha{% endblock %}

{% block content %}
	{% include '@app/campaigns/_form-elements.html.twig' %}

	{% set submit = form.get('submit') %}
	{% do submit.setAttribute('class', 'btn btn-primary').setLabel('Excluir') %}

	{% do form.setAttribute('action', url('admin.campaigns.delete', {id: form.getObject().id})) %}
	{% do form.prepare() %}
	
	<div class="row">
		<div class="col-md-8">
			<div class="box box-success">
				<div class="box-body">
					<form name="form_disabled" role="form" method="post">
						<fieldset disabled>
							{% include '@app/campaigns/_form-body.html.twig' %}
						</fieldset>
						<div class="box-footer">
							{{ formButton(submit) }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}